<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mine</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_object.name is not empty %}
            <table>
                <thead>
                    <th>
                        <td>Name</td>
                        <td>Start date</td>
                        <td>Due date</td>
                        <td>Is completed</td>
                    </th>
                </thead>
                <tbody>
                    <td>
                        {{ task_object.name }}
                        {{ task_object.start_date }}
                        {{ task_object.due_date }}
                        {{ task_object.is_completed|yesno:"no,yes" }}
                    </td>
                </tbody>
            </table>
            {% endif %}
            <p>You have no tasks</p>
        </div>
    </main>
</body>
</html>
