<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project_object.name }}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ project_object.name }}</h1>
            <p>{{ project_object.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if task_object.name is not empty %}
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Assignee</td>
                        <td>Start date</td>
                        <td>Due date</td>
                        <td>Is completed</td>
                    </tr>
                </thead>
                {% comment %} {% for task_objects in Task %} {% endcomment %}
                <tbody>
                    <tr>
                        <td>{{ task_object.name }}</td>
                        <td>{{ task_object.assignee }}</td>
                        <td>{{ task_object.start_date }}</td>
                        <td>{{ task_object.due_date }}</td>
                        <td>{{ task_object.is_completed|yesno:"no,yes" }}</td>
                    </tr>
                </tbody>
                {% comment %} {% endfor %} {% endcomment %}
            </table>
            {% endif %}
            <p>This project has no tasks</p>
        </div>
    </main>
</body>
</html>
